{% extends 'general/base.html' %}

{% block title %}{{ chapter.headline }} | {{ block.super }}{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            
            <h3>{{ story.title }}</h3>
            <hr/>
            
            <div id="story-metadata">
                <p>Genre: </p>
                <p>Number of chapters: </p>
                <p>Authors: </p>
                <p>Likes: </p>
                <p>etc...</p>
            </div>
            <p><a href="{% url 'chapter_detail' first_chapter_pk %}">start reading</a></p>
            
        </div>
    </div>
{% endblock %}
